body{
    font-family: Arial,sans-serif;
    background-color: rgb(225, 199, 224);
}
form{
    margin-button: 20px;

}
h1{
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
    color: rgb(155, 51, 162);
    text-align:center;
    margin-top: 50px;
    transition: transform 0.3s ease;
    color: #cc618a;
    
    
}
h4 {
    font-family: 'Open Sans', sans-serif; 
    color: #894590;
    text-align: center; 
}
#mb{
    background-color: #d6aed7; 
    color: #3a073d; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
}
#mb:hover {
    background-color: #e09fbb; /* Change color on hover */
}
input[type="file"] {
    
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    
}